<br><br><br><br><br><br><br><br><br>
<p>profile works and Registration succeeded!</p>


<div *ngIf="isAuthenticated$ | async">
  <div *ngIf="username$ | async as username">
    <h3>Hello {{ username }}</h3>
  </div>
  <div>
    <br><br>
    <h3>Disconnect : </h3> 
    <button (click)="logout()">Log Out button</button>
    <a href="Downloads/Futura_curly-1.0.msi" download="Futura_curly-1.0.msi">
      <button style="padding: 15px 30px; font-size: 1.2em; cursor: pointer;">
          Download Game (Windows)
      </button>
    <button (click)="launchVirtualWorld()">Launch the game !</button>
  </a>
  </div>
</div>

<br><br><br><br>
<div *ngIf="hasEnteredWorld$ | async">
  <p>Welcome to the virtual world!</p>
</div>
<br><br><br><br><br>
<!-- About link -->
<a routerLink="/about">About</a>